<%= stylesheet_link_tag 'social_media_button' %>

<section id="contenedor">
  <div>
	  <ul class="social_">
	    <li data-show="false" class="child social_" id="li-fb" align="right">
				<a class="sn-container" href="https://www.facebook.com/">
					<%= image_tag "images/facebook.png", :class => "social_" %>
				</a>
        <!-- <button class="child" data-show="false">Fb</button> -->
	    </li>
	    <li data-show="false" class="child social_" id="li-tw" align="right">
				<a class="sn-container" href="https://twitter.com/">
					<%= image_tag "images/twitter.png", :class => "social_" %>
				</a>
      	<!-- <button class="child" data-show="false">Tw</button> -->
	    </li>
	    <li data-show="false" class="child social_" id="li-in" align="right">
				<a class="sn-container" href="https://instagram.com/">
					<%= image_tag "images/linkedIn.png", :class => "social_" %>
				</a>
      	<!-- <button class="child" data-show="false">Ins</button> -->
	    </li>
	    <li data-show="false" class="child social_" id="li-bh" align="right">
        <a class="sn-container" href="https://instagram.com/">
					<%= image_tag "images/behance.png", :class => "social_" %>
				</a>
      	<!-- <button class="child" data-show="false">Ins</button> -->
	    </li>
	    <li data-show="false" id="raiz" data-toggle="true" align="right" style="cursor:poiner;">
				<%= image_tag "images/social-media-expanded.png", :class => "social_"%>
      	<!-- <button class="child" data-show="false">Ins</button> -->
	    </li>
	  </ul>
  </div>
</section>
