---
title: 	About Us - The Social Us
---
<%= stylesheet_link_tag 'about' %>
<%= stylesheet_link_tag 'revealer' %>

<div class="our-services-cont">
	<div id="sec-about-1">
			<div id="about-slide-1">
			<%= partial "vertical_menu" %>
			<%= partial "logo_tsu" %>
			<%= partial "social_media_button" %>

			<div class="row expanded text-align-center">
				<div class="large-4 large-offset-2 small-10 small-offset-1 columns end adjust-1">
					<h1 id="about-title-1" class="loading"><b id="about-title-2">WE'RE NOT</b> AN <br>
						AVERAGE DIGITAL AGENCY.</h1>
					</div>
					<div class="large-4 small-10 small-offset-1 columns end adjust-1 loading"  id="text-white-column">
						<p>We like to think we're the odd man out, and by odd we mean the <strong>"Advanced Thinking" </strong>man out.</p>
						<br>
						<p>As a matter of fact we like to think of ourselves as an Ant Colony. Didn’t see that coming right? The Social Us is composed by a team of highly prepared professionals with better work ethics than eating habits. We trust the ability of every team member in their specific area so the quality of our results are the highest. We don’t micromanage. We delegate and encourage teamwork at every step of the way. </p>
					</div>
				</div>
			</div>
	</div>
	<div id="about-slide-2" style="padding-top:10vh;">
		<div class="row expanded text-align-center">
			<div class="medium-push-7 medium-5 columns small-12" id="first-ant-wrapper">
				<%= image_tag "images/robot-ant-1.png", :id => 'first-ant', :class => ''%>
			</div>
			<div class="medium-pull-5 medium-5 medium-offset-2 small-10 small-offset-1 columns end" id="about-title-3">
				<h1><b>WE'RE NOT</b> <br>
					A ONE MAN ARMY</h1>
			</div>
		</div>
		<div class="row expanded text-align-center">
			<div class="small-offset-1 small-10 medium-push-5 medium-3 columns">
				<p id="p_text_sec_2" style="text-align:justify;">As a matter of fact we like to think of ourselves as an Ant Colony. Didn’t see that coming right? The Social Us is composed by a team of highly prepared professionals with better work ethics than eating habits. <b>We trust the ability of every team member in their specific area so the quality of our results are the highest.</b> We don’t micromanage. We delegate and encourage teamwork at every step of the way.</p>
			</div>
			<div class="small-12 medium-pull-3 medium-3 medium-offset-2 columns end" id="second-ant-wrapper">
				<%= image_tag "images/robot-ant.png", :id => 'second-ant'%>
			</div>
			<div class="large-2 columns"></div>
		</div>
	</div>


	<div id="sec-about-2">
		<h1 id="msg-text" style="bottom:20px;position: relative;">"We offer digital solutions for those who are ready to take their business to the next level"</h1>
		<p style="color:white;">Gabriel Jiménez, CEO - The Social Us</p>
	</div>

	<div id="sec-about-3">
		<div id="cta-one" class="block-big" data-show="hide">
			<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-17887496-85c0-4383-9688-65d7064045e2"><span class="hs-cta-node hs-cta-17887496-85c0-4383-9688-65d7064045e2" id="hs-cta-17887496-85c0-4383-9688-65d7064045e2"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="http://cta-redirect.hubspot.com/cta/redirect/2442552/17887496-85c0-4383-9688-65d7064045e2"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-17887496-85c0-4383-9688-65d7064045e2" style="border-width:0px;" height="510" width="1445" src="https://no-cache.hubspot.com/cta/default/2442552/17887496-85c0-4383-9688-65d7064045e2.png"  alt="Nuevo llamado a la acción"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442552, '17887496-85c0-4383-9688-65d7064045e2', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
		</div>
		<div class="row">
			<div class="small-10 small-offset-1 medium-offset-0 medium-6 medium-push-6 columns">
				<h2 id="s-a-3-right">
					<b>we don't</b> settle for the status quo
				</h2>
			</div>
			<div id="p-sec-3" class="small-10 small-offset-1 medium-offset-0 medium-pull-6 medium-6 columns" align="right" style="margin-top: 55px;">
				<%= image_tag "images/rectangle_black.png", :style => 'margin-bottom:20px;'%>
				<p id="s-a-3-left">
					If someone tells you that everything's been done before, turn your back and leave them out in the rain. There’s always a better, smarter and profitable way to do things. Here at The Social Us we live by a very simple motto: <b>do it different.</b>
				</p>

			</div>
		</div>
	</div>

	<div id="sec-about-4">
		<div class="row">
			<div id="p-sec-4" class="small-offset-1 small-10 medium-offset-0 medium-6 columns">
				<h2 id="s-a-3-right-2" style="color:#F2F2F2;text-align:right !important;">
				<b>	wE WON'T</b> MAKE YOU GO BROKE
				</h2>
			</div>
			<div class="small-offset-1 small-10 medium-offset-0 medium-6 columns" align="left">
				<%= image_tag "images/rectangle-white.png", :style => 'margin-bottom:20px;'%>

				<p id="s-a-3-left-2" style="color:#F2F2F2;font-family:'Lato';text-align:left !important;">
					Every single solution we offer to our clients it's based on its profitability. Our goal is to accomplish the maximum quality without having to make you invest more than you need to. As a client of The Social Us, <b>your success is our success.</b>
				</p>
			</div>
		</div>
	</div>

	<div id="about-slide-footer">
		<div class="row">
			<div class="columns small-offset-2 small-8">
				<div class="block-big" data-show="hide">
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-e834ce02-a71c-41b1-9fba-f501ac8e4946"><span class="hs-cta-node hs-cta-e834ce02-a71c-41b1-9fba-f501ac8e4946" id="hs-cta-e834ce02-a71c-41b1-9fba-f501ac8e4946"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="http://cta-redirect.hubspot.com/cta/redirect/2442552/e834ce02-a71c-41b1-9fba-f501ac8e4946"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-e834ce02-a71c-41b1-9fba-f501ac8e4946" style="border-width:0px;" height="510" width="1445" src="https://no-cache.hubspot.com/cta/default/2442552/e834ce02-a71c-41b1-9fba-f501ac8e4946.png"  alt="Website SEO Consultation"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442552, 'e834ce02-a71c-41b1-9fba-f501ac8e4946', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
				</div>
				<!-- <%= image_tag "images/block-big.png", :class => "block-big", :data => {:show => 'hide'}%>-->
			</div>
		</div>

		<div id="about-cta-2"></div>
		<%= partial "footer" %>
	</div>
</div>

<script src="javascripts/anime.min.js"></script>
<script src="javascripts/scrollMonitor.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/about.js"></script>
