---
title: 	Our Services - The Social Us
---

<%= stylesheet_link_tag 'our_services' %>


<div class="our-services-cont">
	
	<%= partial "vertical_menu" %>

	<%= image_tag "images/TSULogo.png", :class => "TSU-logo" %>

	<div class="our-services-text">
		<h1>WE GOT YOUT BACK, <br>
		<b> THESE ARE OUR G.U.N.S </b> </h1>
		<p> <b> (Great, Unique, Neat, Specialists) </b> </p>
	</div>
	
	<div class="row expanded text-align-center">
		<div class="large-4 columns">
			<%= image_tag "images/wbe-design.png", :class => "our-services-img" %>
		</div>
		<div class="large-4 columns">
			<p>Tech Solutions</p>
			<%= image_tag "images/visual-storytelling.png", :class => "our-services-img" %>
		</div>
		<div class="large-4 columns end">
			<%= image_tag "images/tech-solutions.png", :class => "our-services-img" %>
		</div>
	</div>	

	<div class="row our-services-footer">
		<div class="large-2 large-offset-2 columns">
			<a href="#">TECH SOLUTIONS</a>
		</div>
		<div class="large-2 columns">
			<a href="#">WEB DESIGN</a>
		</div>
		<div class="large-2 columns">
			<a href="#">BRAND DEVELOPMENT</a>
		</div>
		<div class="large-2 columns">
			<a href="#">INBOUND MARKETING</a>
		</div>
		<div class="large-2 columns end">
			<a href="#">VISUAL STORYTELLING</a>
		</div>
	</div>

	<%= partial "social_media_button" %>
</div>