---
title: 	Work MSC - The Social Us
---

<%= stylesheet_link_tag 'work_msc' %>

<%= partial "vertical_menu" %>
<%= partial "logo_tsu" %>

<section id="first">
  <div id="texts_">
    <div id="fs-blq1">
      <h1>MÉDICA ST. <br>CARMEN</h1>
      <span>GOING TO THE DOCTOR, WITHOUT GOING</span>
    </div>

    <div id="fs-blq2">
      <p>YEAR 2015</p>
    </div>
  </div>

  <div id="image_">
    <%= image_tag "images/portada_msc.png"%>
  </div>
</section>

<section id="second">
  <div id="top-text">
    <h2>MÉDICA SANTA CARMEN</h2>
    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div id="bot-list">
    <h4>TOOLS</h4>
    <div class="row">
      <div class="columns small-12 medium-3">
        <div class="display: flex;">
          <%= image_tag "images/msc-rectangle.png"%>
          <span>Conceptual Design</span>
        </div>
      </div>
      <div class="columns small-12 medium-3">
        <div class="display: flex;">
          <%= image_tag "images/msc-rectangle.png"%>
          <span>Prototyping</span>
        </div>
      </div>
      <div class="columns small-12 medium-3">
        <div class="display: flex;">
          <%= image_tag "images/msc-rectangle.png"%>
          <span>Brand Design Guidelines</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12 medium-3">
        <div class="display: flex;">
          <%= image_tag "images/msc-rectangle.png"%>
          <span>Branding and Identity Design</span>
        </div>
      </div>
      <div class="columns small-12 medium-3">
        <div class="display: flex;">
          <%= image_tag "images/msc-rectangle.png"%>
          <span>User Experience and Interface Design</span>
        </div>
      </div>
      <div class="columns small-12 medium-3">
        <div class="display: flex;">
          <%= image_tag "images/msc-rectangle.png"%>
          <span>Interaction Design</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="third">
  <div id="text">
    <div>
      <%= image_tag "images/rectangle-white.png"%>
      <h4>RECOGNITION</h4>
    </div>
    <p>As SEO experts, our content team spent this time researching and closely studying the brand’s buyers personas to establish the best strategy for the brand to follow. A brand book with the brand’s voice and personality was developed alongside the design team in charge of crafting the graphic identity for the brand.</p>
  </div>
  <%= image_tag "images/mock-up-catalog-msc.png", :id => 'mock-msc'%>
</section>

<section id="fifth">
  <div class="row">
    <div id="wrapper-imgs" class="columns small-12" style="">
      <%= image_tag "images/seccion-usuarios-inicio.png", :id => 'up-pic'%>
      <%= image_tag "images/seccion-usuarios-citas.png", :id => 'down-pic'%>
    </div>
  </div>
  <div id="menu-img" class="row">
    <%= image_tag "images/menu.png"%>
  </div>
</section>

<section id="sixth">
  <div class="row">
    <div class="columns medium-push-8 medium-4 small-12"  id="text-right">
      <div align="left" style="display:flex;flex-direction:row;align-items:center;color:white;">
        <%= image_tag "images/rectangle-white.png"%>
        <h4>GENERATION</h4>
      </div>
      <p align="left">
        In the current times, more and more people use their mobile devices to access the internet and everything they need, our IT department has answered to this need by using a Responsive site which adapts itself to any screen or device it’s being accessed from and also making it possible for patients to check their exams and schedule appointments.
      </p>
    </div>
    <div class="columns medium-pull-4 medium-8 small-12" id="responsive-height">
      <%= image_tag "images/msc-mobile.png", :id => 'cards'%>
    </div>
  </div>
</section>

<section id="seventh">
  <div id="sev-second">
    <%= image_tag "images/backaground-diagonal-msc.png", :id =>'img-msc'%>
    <div class="text">
      <div>
        <%= image_tag "images/rectangle-white.png"%>
        <h4>DEVELOPMENT</h4>
      </div>
      <p>Our IT team focused on successful tech solutions that would create a secure system for anyone using Elite’s website in a simple way. The purpose was to create a web app that would grant Elite and its clients a safe platform capable of protecting their most valuable information.</p>
    </div>
    <%= image_tag "images/showcase-3.png", :id=> 'showcase-3'%>
  </div>
  <div class="block-big" data-show="hide">
    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-e834ce02-a71c-41b1-9fba-f501ac8e4946"><span class="hs-cta-node hs-cta-e834ce02-a71c-41b1-9fba-f501ac8e4946" id="hs-cta-e834ce02-a71c-41b1-9fba-f501ac8e4946"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="http://cta-redirect.hubspot.com/cta/redirect/2442552/e834ce02-a71c-41b1-9fba-f501ac8e4946"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-e834ce02-a71c-41b1-9fba-f501ac8e4946" style="border-width:0px;" height="510" width="1445" src="https://no-cache.hubspot.com/cta/default/2442552/e834ce02-a71c-41b1-9fba-f501ac8e4946.png"  alt="Website SEO Consultation"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442552, 'e834ce02-a71c-41b1-9fba-f501ac8e4946', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
  </div>
</section>

<section id="eigth">
  <a href="/work_cs.html">
    <p>View Next Project</p>
    <h1>Collection Suites</h1>
    <p>SAFEKEEPING SERVICES FOR ENTREPRENUERS AND COLLECTORS</p>
  </a>
</section>

<%= partial "footer" %>
<%= partial "social_media_button" %>
