---
title: 	Work MSC - The Social Us
---

<%= stylesheet_link_tag 'work_jimbe' %>

<%= partial "vertical_menu" %>
<%= partial "logo_tsu" %>


<section id="first">
  <div class="presentation-text">
    <h1>JIMBE</h1>
    <p>
      <small>Painless payments</small>
    </p>
  </div>
  <div class="year">
    <p><strong>YEAR 2016</strong></p>
  </div>
</section>
<section id="second">
  <div class="row">
    <div class="columns small-offset-2 small-8 paragraph">
      <h2>JIMBE</h2>
      <p> Lorem fistrum mamaar diodenoo no te digo trigo por no llamarte Rodrigor diodenoo te voy a borrar el cerito a peich amatomaa. No puedor al ataquerl no puedor va usté muy cargadoo llevame al sircoo ese pedazo de pecador caballo blanco caballo negroorl.</p>
    </div>
  </div>
  <div class="row">
    <div class="columns small-offset-2 small-8">
      <h3>TOOLS</h3>
    </div>
  </div>
  <div class="row">
    <div class="columns small-offset-2 small-8 list">
      <div id="first-wrap">
        <div class="wrap-li">
          <%= image_tag "images/work-jimbe/bullet-point.png"%>
          <p>Conceptual Desingn</p>
        </div>
        <div class="wrap-li">
          <%= image_tag "images/work-jimbe/bullet-point.png"%>
          <p>Branding and Identity Design</p>
        </div>
      </div>
      <div id="sec-wrap">
        <div class="wrap-li">
          <%= image_tag "images/work-jimbe/bullet-point.png"%>
          <p>Prototyping</p>
        </div>
        <div class="wrap-li">
          <%= image_tag "images/work-jimbe/bullet-point.png"%>
          <p>User Experience and Interface Design</p>
        </div>
      </div>
      <div id="third-wrap">
        <div class="wrap-li">
          <%= image_tag "images/work-jimbe/bullet-point.png"%>
          <p>User Experience and Interface Design</p>
        </div>
        <div class="wrap-li">
          <%= image_tag "images/work-jimbe/bullet-point.png"%>
          <p>User Experience and Interface Design</p>
        </div>
      </div>
    </div>
  </div>
</section>
  <section id="third">
  <div id="third-one">
    <div class="row">
      <div class="columns small-8 small-offset-2 medium-3 medium-offset-1">
        <div class="wrapper">
          <%= image_tag "images/rectangle-white.png"%>
          <h4>RECOGNITION</h4>
        </div>
        <p>
          Switching up between currencies, payment forms, and cards is annoying… and thanks to Jimbe, it’ll be completely unnecessary as well. This new app was conceived by our IT team after realizing our technology when it comes to point of purchase devices feels stale and outdated.
        </p>
      </div>
      <div class="columns small-10 small-offset-2 medium-offset-0 medium-7">
        <%= image_tag "images/work-jimbe/pic1.png", :class => 'portrait'%>
      </div>
    </div>
  </div>
  <div id="third-two">
    <div class="row">
      <div class="columns small-8 small-offset-2 medium-3 medium-offset-1 medium-push-7">
        <div class="wrapper">
          <%= image_tag "images/rectangle-white.png"%>
          <h4>GENERATION</h4>
        </div>
        <p>
          Hardware wise, Jimbe works almost like a standard POS machine that can work with LAN, Wifi, and GPRS modules through multiple phone lines in multiple ways and allowing the users to pay using different methods.
        </p>
      </div>
      <div class="columns small-10 small-offset-2 medium-offset-0 medium-7 medium-pull-5">
        <%= image_tag "images/work-jimbe/pic2.png", :class => 'portrait'%>
      </div>
    </div>
  </div>
  <div id="third-three">
    <div class="row">
      <div class="columns small-8 small-offset-2 medium-offset-1 medium-3">
        <div class="wrapper">
          <%= image_tag "images/rectangle-white.png"%>
          <h4>DEVELOPMENT</h4>
        </div>
        <p>
            In progress...
        </p>
      </div>
      <div class="columns small-10 small-offset-2 medium-offset-0 medium-7">
        <%= image_tag "images/work-jimbe/pic3.png", :class => 'portrait'%>
      </div>
    </div>
  </div>
  <div class="block-big" data-show="hide">
    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-e834ce02-a71c-41b1-9fba-f501ac8e4946"><span class="hs-cta-node hs-cta-e834ce02-a71c-41b1-9fba-f501ac8e4946" id="hs-cta-e834ce02-a71c-41b1-9fba-f501ac8e4946"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="http://cta-redirect.hubspot.com/cta/redirect/2442552/e834ce02-a71c-41b1-9fba-f501ac8e4946"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-e834ce02-a71c-41b1-9fba-f501ac8e4946" style="border-width:0px;" height="510" width="1445" src="https://no-cache.hubspot.com/cta/default/2442552/e834ce02-a71c-41b1-9fba-f501ac8e4946.png"  alt="Website SEO Consultation"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442552, 'e834ce02-a71c-41b1-9fba-f501ac8e4946', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
  </div>
</section>
<section id="fourth"></section>

<%= partial "footer" %>
<%= partial "social_media_button" %>
